# ignore com.st.stm32cube.ide.mcu.sfrview.prefs
# ignore language settings
**/.settings/language.settings.xml
**/.settings/language.settings.xml.orig
**/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
FCC_SRC_V1/.cache/clangd/index
FCC_SRC_V1/.settings
