[submodule "/home/nick_s/EcoCar/Sally-Elec-Design/FET-Board/FET_SRC_V1/EcoLib"]
	path = /home/nick_s/EcoCar/Sally-Elec-Design/FET-Board/FET_SRC_V1/EcoLib
	url = git@github.com:UAlberta-EcoCar/EcoLib.git
