[submodule "Motor Controller Firmware/HyperDriveMotorController-HAL/lib/EcoLib"]
	path = Motor Controller Firmware/HyperDriveMotorController-HAL/lib/EcoLib
	url = https://github.com/UAlberta-EcoCar/EcoLib.git
