[submodule "Electrical-Hardware-Design-H2-Sensor-Board/H2-Sensor-Board2024_Sally/H2-Board-Firmware/Firmware/lib/EcoLib"]
	path = Electrical-Hardware-Design-H2-Sensor-Board/H2-Sensor-Board2024_Sally/H2-Board-Firmware/Firmware/lib/EcoLib
	url = https://github.com/UAlberta-EcoCar/EcoLib.git
[submodule "Electrical-Hardware-Design-H2-Sensor-Board/H2-Sensor-Board2024_Sally/H2-Board-Firmware/FirmwareRBT/lib/EcoLib"]
	path = Electrical-Hardware-Design-H2-Sensor-Board/H2-Sensor-Board2024_Sally/H2-Board-Firmware/FirmwareRBT/lib/EcoLib
	url = https://github.com/UAlberta-EcoCar/EcoLib.git
